.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-card {
  width: 600px;
  // padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.loginForm{
  padding: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.loginImage{
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.form-group input:focus {
  border-color: #667eea;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #667eea;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #5a67d8;
}

.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #667eea;
  text-decoration: none;
}
